@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
{
    margin: 0;
    font-family: "Quicksand";
}
html, body, #root, .App {
    height: 100vh;
    background-color: #474747;
}
#root {
    color: #aaaaaa;
}

.navbar {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    max-width: 1000px;
    border-bottom: 1px solid #aaaaaa;
}

.navbar h1 {
    font-size: 40px;
    color: #f1356d;
    text-shadow: 2px 2px #333333;
}

.navbar h1:hover  {
    text-shadow: 5px 5px #000000;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: #aaaaaa;
}
.content {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
}
.head-block img{
    width: 70px;
    height: 70px;
}
.weather-preview {
    width: 100%;
    max-width: 1000px;
    background-color: #302f2f;
    padding: 10px 16px;
    border-width: 1px;
    border-radius: 10px;
    margin: 20px 0 0 0;
    box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 5px 0 #444444, 0 5px 0 #474747, 0 5px 5px #000000;
}

.weather-preview p{
    margin: 0;
    font-size: 18px;
    font-family: Cambria, serif;
}

.weather-preview h4{
    color: #f1356d;
    margin: 0;
}

.lower-preview img{
    filter: invert(100%);
    width: 30px;
    height: 30px;
}

.weather-preview .header-card h2{
    font-size: 30px;
    color: #f1356d;
    margin: 10px;
}

.weather-preview #endHeader{
    border-bottom: 1px solid #a9a8ad;
    margin: 0px 10px 10px;

}

.footer {
    border-top: 1px solid #f2f2f2;
    bottom: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 1000px;
    width: 100%;
}

.footer p{
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: #f1356d;
}

.weather-preview #tempChange {
    background-color: #f1356d;
    border: 1px solid #f1356d;
    border-radius: 10px;
    color: #fafafa;
    cursor: pointer;
    height: 30px;
    float: right;
    padding: 2px;
    width: 55px;
    margin: 15px;
}

.weather-preview #tempChange:hover,
.weather-preview #tempChange:focus {
    background-color: #fa82a6;
}

.search-box #tempChange:active {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    outline: 0;
}

.temp-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10px 10px;
}

.temp-block h1{
    font-size: 60px;
}

.head-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lower-preview .data-footer{
    margin: 0px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
}
.lower-preview .data-footer p{
    font-size: 20px;
}

.weather-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 0 0;
}

.small-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.small-cards .invert-image{
    filter: invert(100%);
    width: 30px;
    height: 30px;
}

.small-cards p{
    margin-left: 10px;
}
.small-cards h5{
    font-style: italic;
}

#loading-div{
    font-size: 40px;
    color: #f1356d;
    align-content: center;
    align-self: center;
}

.detail-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

#temp-table .table-header{
    display: flex;
    justify-content: center;
    color: #f1356d;
    font-style: italic;
}
.forecast-image{
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
#panorama{
    height: 350px;
    width: 1200px;

    border-radius: 10%;
}

.panorama-holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
}