@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
{
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}
#root {
    height: 100vh;
}
html, body {
    height: 100vh;
}
.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 1000px;
    border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
    color: #684be3;
}
.navbar .links {
    margin-left: auto;
}
.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: black;
}
.navbar a:hover {
    color: #684be3;
}
.content {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
}

.weather-card {
    background-color: #f6f6f6;
    padding: 10px 16px;
    border-width: 1px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 2px 0 #aaa, 0 2px 2px #444;
}

.weather-card h2 {
    font-size: 25px;
    color:#684be3;
    margin: 10px;
}

.lower-preview img{
    width: 30px;
    height: 30px;
}

.weather-card #endHeader{
    border-bottom: 1px solid #a9a8ad;
    margin: 0px 10px 10px;

}

.footer {
    border-top: 1px solid #f2f2f2;
    position: absolute;
    bottom: 0;

    padding: 20px;
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 1000px;
}

.footer p{
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: #684be3;
}

.weather-card #tempChange {
    background-color: #40899c;
    border: 1px solid #40899c;
    border-radius: 10px;
    color: #fafafa;
    cursor: pointer;
    height: 30px;
    float: right;
    padding: 2px;
    width: 55px;
    margin: 15px;
}

.weather-card #tempChange:hover,
.weather-card #tempChange:focus {
    background-color: #55cfed;
}

.search-box #tempChange:active {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    outline: 0;
}

.temp-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10px 10px;
}

.temp-block h1{
    font-size: 60px;
}

.headBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lower-preview .data-footer{
    margin: 0px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}