.search-box {
    background-color: #302f2f;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 5px 0 #444444, 0 5px 0 #474747, 0 5px 5px #000000;
    margin-bottom: 50px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-box #searchField {
    border: 1px solid #444444;
    background-color: #444444;
    border-radius: 10px;
    box-shadow: 0 1px 1px #242323 inset, 0 1px 0 #242323;
    color: #aaaaaa;
    float: left;
    height: 25px;
    padding: 10px;
    width: 60%;
    margin-top: 8px;
    margin-left: 2%;
}

.search-box select {
    width: 50px;
    margin: 8px;
    color: #aaaaaa;
    background-color: #444444;
    border-radius: 10px;
    box-shadow: 0 1px 1px #242323 inset, 0 1px 0 #242323;
    border: 1px solid #444444;
    box-sizing: border-box;
    display: block;

}

.search-box img{
    filter: invert(100%);
    width: 8%;
    max-width: 50px;
    height: 42px;
}

.search-box #search:focus {
    border-color: #444444;
    box-shadow: 0 1px 1px #000000 inset;
    outline: 0;
}

.search-box #search::placeholder {
    color: #aaaaaa;
}

.search-box #submit {
    background-color: #f1356d;
    border: 1px solid #f1356d;
    border-radius: 10px;
    color: #fafafa;
    cursor: pointer;
    height: 40px;
    float: right;
    padding: 5px;
    width: 100%;
    margin-left: 7px;
}

.search-box #submit:hover,
.search-box #submit:focus {
    background-color: #fa82a6;
}

.search-box #submit:active {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    outline: 0;
}

.search-box p{
    margin: 8px 0 0 25px;
}